
$base-blue-color-link: #4285f4;

section.wrapper-newsfeed {
  display: flex;
  flex-direction: column;
  height: 100%;

    div.filter {
        margin-top: 100px;
        width: 100%;
    }
    
    div.news-list {
        display: flex;
        flex-direction: column;
        align-items: center;
  
  
        mat-card {
            border: 1px solid #dadce0;
            border-radius: 8px;
            margin-bottom: 2em;
            width: 60%;
            min-height: 250px;

            mat-card-header {
                position: relative;

                mat-card-title {
                    max-width: 75%;
                }
                img {
                    position: absolute;
                    right: -5px;
                    top: -9px;
                    width: 100px;
                    height: 100px;
                    border-radius: 5px;
                    margin: 0;
                }
            }

            mat-card-content {

                 ::ng-deep {

                    strong a {
                        color: $base-blue-color-link;
                    }
                    
                font + p {
                      padding-left: 40px;  
                    }

                    li {
                         padding: 12px 32px;
                         list-style-type: none;
                         
                         &::before {
                            position: absolute;
                            left: 70px;
                            content: "•";
                            color: $base-blue-color-link;
                            width: 4px;
                        }

                        &:last-child {
                            list-style-type: none;
                            padding: 0;
                            
                            a {
                                color: #4285f4;
                            }
                            
                            &::before {
                                content: "";

                            }
                        }
                     }
                     a {
                        font-weight: 500;
                        word-break: break-word;
                        overflow-wrap: break-word;
                        word-wrap: break-word;
                        color: black;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;    
                        }
                    }

                    font {
                        display: block;
                        margin-top: 3px;
                    }
                }

            }
             
        }
    }
    
    @media (max-width: 600px) {
        mat-card-title {
            max-width: 40%;
        }
    }

}