<section class="wrapper-newsfeed">

  <div class="filter">


    <form>

      <mat-form-field>
        <input type="text" placeholder="Filter your feed by Country or Topic" matInput [formControl]="filtersCtrl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelectedFilter($event)">
          <mat-option *ngFor="let item of filterOptionsObserv$ | async" [value]="item">
            <span>{{item.label}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </form>

  </div>

  <div class="news-list">

    <mat-card class="feed-card" *ngFor="let item of channel?.newsFeeds;">
      <mat-card-header>
        <mat-card-title>{{ item.title }}

          <img *ngIf="item.media" mat-card-image [src]=item.media.url>

        </mat-card-title>
        <mat-card-subtitle>{{ item.source }} - {{ item.date }}</mat-card-subtitle>


      </mat-card-header>
      <mat-card-content [innerHtml]="item.content">

      </mat-card-content>
    </mat-card>

  </div>

</section>